[Unit]
Description=Mongo Monitoring System Agent
After=docker.service

[Service]
EnvironmentFile=/etc/environment
;Environment=MMS_API_KEY=YourAPIKey
ExecStartPre=/usr/bin/docker pull ulexus/mms-agent
ExecStartPre=-/usr/bin/docker pull ibuildthecloud/systemd-docker
ExecStartPre=-/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/opt/bin/systemd-docker --env run --rm --name %p ulexus/mms-agent
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15
